.cursor-brush {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: black;
  pointer-events: none;
  transform: translate(-50%, -50%)
}

.brush-size-1 {
  width: 10px;
  height: 10px;
}

.brush-size-2 {
  width: 15px;
  height: 15px;
}

.brush-size-3 {
  width: 20px;
  height: 20px;
}

.no-cursor {
  cursor: none;
}

.hidden {
  visibility: hidden;
}

